$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import '~element-ui/packages/theme-chalk/src/base';
@import '~element-ui/packages/theme-chalk/src/form';
@import '~element-ui/packages/theme-chalk/src/form-item';
@import '~@sdx/ui/theme/dialog';

@include block('change-password') {
    @include element('title') {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        /* .icon {
            font-size: 40px;
            margin-bottom: 10px;

        } */
        .icon {
            width: 4em;
            height: 4em;
            vertical-align: -0.15em;
            fill: currentColor;
            overflow: hidden;
            margin-bottom: 15px;
         }
    }
}
