@include block('fold-label', $bem-namespace-widget) {
    font-size: $sdxw-foldlabel-fontsize;
    min-width: $sdxw-foldlabel-height;
    box-sizing: border-box;
    padding: $sdxw-foldlabel-padding-v $sdxw-foldlabel-padding-h;
    text-align: center;
    line-height: 1;
    color: $sdx-primary-color;
    background: $sdxw-foldlabel-primary-bg;
    border-radius: $sdxw-foldlabel-height;
    display: inline-block;
    flex:1;
    transition: all ease-in-out .2s;
    height: $sdxw-foldlabel-height;
    overflow: hidden;
    cursor: default;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap;
    max-width: 100%;
    vertical-align: middle;
    &:after {
        content: '\20';
        display: table;
    }
    @include modifier('primary') {
        color: $sdx-primary-color;
        background: #E9EFFE;
        &.highlight {
            background: $sdx-primary-color;
            color: #fff;
        }
    }
    @include modifier('default') {
        color: $sdx-text-regular-color;
        background: rgba($sdx-primary-color, 0.12);
    }
    @include modifier('create') {
        color: $sdx-status-create;
        background: rgba($sdx-status-create, 0.1);
    }
    @include modifier('processing') {
        color: $sdx-status-processing;
        background: rgba($sdx-status-processing, 0.1);
    }
    @include modifier('running') {
        color: $sdx-status-running;
        background: rgba($sdx-status-running, 0.1);
    }
    @include modifier('dying') {
        color: $sdx-status-dying;
        background: rgba($sdx-status-dying, 0.1);
    }
    @include modifier('die') {
        color: $sdx-status-die;
        background: rgba($sdx-status-die, 0.1);
    }
    @include modifier('stream') {
        color: #fff;
        background: rgba(151,145,255,1);
    }
    @include modifier('patch') {
        color: #fff;
        background: rgba(38,200,169,1);
    }
    @include element('state-icon') {
        width: 8px;
        height: 8px;
        border-radius: 8px;
        background: $sdx-success-color;
        margin-right: $sdx-gap-mini;
        display: inline-block;
        vertical-align: middle;
    }
    @include modifier('pending') {
        color: $sdx-secondary-color;
        background: rgba($sdx-warning-color, 0.1);
        @include element('state-icon') {
            background: $sdx-warning-color;
        }
    }
    @include modifier('success') {
        color: $sdx-secondary-color;
        background: rgba($sdx-success-color, 0.1);
        @include element('state-icon') {
            background: $sdx-success-color;
        }
    }
    @include modifier('finish') {
        color: $sdx-secondary-color;
        background: rgba(#505F79, 0.1);
        @include element('state-icon') {
            background: #505F79;
        }
    }
    @include modifier('error') {
        color: $sdx-secondary-color;
        background: rgba($sdx-danger-color, 0.1);
        @include element('state-icon') {
            background: $sdx-danger-color;
        }
    }
    @include modifier('exception') {
        color: $sdx-secondary-color;
        background: rgba(#5243AA, 0.1);
        @include element('state-icon') {
            background: #5243AA;
        }
    }
    @include state('fold') {
        flex: 0;
        padding: $sdxw-foldlabel-padding-v 0;
    }
    @include state('ellipse') {
        flex: 0;
    }
    @include state('plain') {
        background: none;
        padding: $sdxw-foldlabel-padding-v 0;
        border-radius: 0;
    }
    @include element('loading-icon') {
        font-size: $sdxw-foldlabel-fontsize;
        margin-right: 4px;
        vertical-align: middle;
    }
    @include element('warning-icon') {
        font-size: $sdxw-foldlabel-fontsize;
        margin-right: 0;
        vertical-align: middle;
    }
    @include element('main') {
        display: inline-block;
        vertical-align: middle;
        font-size: 12px;
    }
}

@include block('fold-label-group', $bem-namespace-widget) {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    transform: translate(-$sdxw-foldlabel-left-margin, -$sdxw-foldlabel-top-margin);
    font-size: 0;
    & /deep/ .sdxw-fold-label {
        margin-left: $sdxw-foldlabel-left-margin;
        margin-top: $sdxw-foldlabel-top-margin;
    }
    @include modifier('inline') {
        flex-direction: row;
        flex-wrap: nowrap;
    }
    @include modifier('list') {
        display: block;
        flex-direction: row;
        flex-wrap: wrap;
        transform: translate(-$sdxw-foldlabel-left-margin, -$sdxw-foldlabel-top-margin / 2);
    }
}
