@include block('general-task-list', $bem-namespace-widget) {
    @include element('footer') {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px 0;
    }
}
