@include block('log-detail', $bem-namespace-widget) {
    height: 60vh;
    background-color: $sdx-log-background;

    @include element('content') {
        padding: $sdx-padding;
        text-align: left;
        border-radius:2px;
        word-break: break-word;
        white-space: pre-wrap;
        font-size: $sdx-log-font-size;
        line-height: $sdx-log-line-height;
    }
}