@include block('log-detail', $bem-namespace-widget) {
    height: 60vh;

    @include element('content') {
        padding: $sdx-padding;
        background-color: #F4F8FD;
        text-align: left;
        border-radius:2px;
        word-break: break-word;
        white-space: pre-wrap;
        font-size: 14px;
        line-height: 26px;
    }
}