@include block('search-layout', $bem-namespace-widget) {
    position: relative;
    @include modifier('block') {
        padding: $sdx-padding;
        padding-bottom: 0;
        padding-right: 100px;
        background: $sdxw-search-background;
    }
    @include modifier('align-left') {
        text-align: left;
    }
    @include modifier('align-right') {
        text-align: right;
    }
    @include element('show') {
        position: absolute;
        top: $sdx-margin / 2;
        right: 0;
    }
    @include element('btn') {
        display: inline-block;
        vertical-align: middle;
    }
    .el-form {
        display: inline-block;
        line-height:$sdx-form-element-height-regular;
    }
    .sdx-icon {
        font-size: $sdx-help-font-size;
    }
}

@include block('search-item', $bem-namespace-widget) {
    height: $sdx-form-element-height-regular;
    line-height: $sdx-form-element-height-regular;
    margin-bottom: $sdx-margin;
    margin-right: $sdx-margin / 2;
    display: inline-block;
    .el-form-item__label {
        color: $sdxw-breadcrumb-current-text-color;
        font-size: $sdx-content-font-size;
    }
}
