@include block('subject-card',  $bem-namespace-widget) {
    background: #FFFFFF;
    box-shadow: 0 2px 4px 0 $sdxw-subject-card-shadow;
    border-radius: $sdx-border-radius-large;
    margin-bottom: $sdxw-subject-card-padding;
    padding: $sdxw-subject-card-top-padding $sdxw-subject-card-padding $sdxw-subject-card-padding $sdxw-subject-card-padding;
    padding-bottom: 0;
    @include element('header') {
        padding-bottom: $sdxw-subject-card-padding;
    }
    @include element('icon') {
        border: 1px solid #D8DEEA;
        border-radius: 2px;
        width: $sdxw-subject-card-icon-size;
        height: $sdxw-subject-card-icon-size;
        display: inline-block;
        text-align: center;
        position: relative;
        svg {
            width: 36px;
            height: 36px;
            margin-top: 4px;
        }
        div {
            display: inline-block;
            position: absolute;
            bottom: 0;
            background: rgb(237, 239,242);
            width: 100%;
            left: 0;
            height: $sdxw-subject-card-padding;
            line-height: $sdxw-subject-card-padding;
        }
    }

    @include element('content') {
        width: calc(100% - 82px);
        float: right;
        font-size: 14px;
        @include modifier('info') {
            height: 24px;
            line-height: 24px;
            display: flex;
            justify-content: space-between;
            padding-top: 4px;
            .left {
                .title {
                    font-size: 18px;
                    color: #172B4D;
                    &:hover {
                        cursor: pointer;
                    }
                }
                .task {
                    background: #DFE2E7;
                    border-radius: 12px;
                    display: inline-block;
                    margin-left: 12px;
                    vertical-align: top;
                    padding: 0 10px;
                    font-size: 12px;
                    color: #253858;
                }
            }
            .right {
                color: #172B4D;
                display: flex;
                .customize-icon {
                    display: inline-block;
                    width: 2px;
                    height: 2px;
                    background: #172b4d;
                    border-radius: 2px;
                    vertical-align: middle;
                    margin: 10px 10px;
                }
                .creator {
                    span {
                        font-family: PingFangSC-Regular;
                        color: rgb(118,128,145);
                    }
                }
            }
        }
        @include modifier('description') {
            overflow:hidden;
            text-overflow:ellipsis;
            white-space:nowrap;
            word-break: break-all;
            margin-top: 22px;
            color: #6B778C;
        }
    }

    @include element('footer') {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #D8DEEA;
        height: 62px;
        line-height: 62px;
        .sdxu-button {
            padding: 0;
            padding-left: 32px;
            margin-left: 0;
        }
        .self {
            .sdxu-button--primary.is-plain {
                color: #42526e;
                .sdxu-button__main {
                    font-size: 12px;
                }
            }
        }
    }
}
