@include block('task-resource-list', $bem-namespace-widget) {
    .sdxu-input, .el-select {
        width: 240px;
    }

    @include element('pagination') {
        margin-top: $sdx-margin;
        display: flex;
        justify-content: flex-end;
    }
    @include element('table') {
        @include modifier('project-link') {
            color: #5C89FF;
            cursor: pointer;
        }
    }
    @include element('tips') {
        background: #F2F6FC;
        padding: 17px $sdx-padding;
        margin: $sdx-margin 0 10px;
    }
}
