@include block('task-stop-dialog', $bem-namespace-widget) {
    margin-left: $sdx-margin;
    @include element('tip') {
        display: flex;
        align-items: center;
        line-height: 1;
        i {
            font-size: 24px;
            margin-right: 15px;
            color: $sdx-warning-color;
        }
        span {
            font-size: 20px;
            color: $sdx-text-primary-color;
        }
    }
    @include element('content') {
        margin-top: $sdx-margin;
        margin-left: 39px;
        font-family: PingFangSC-Regular;
        font-size: 14px;
        color: #6E7C94;
        @include element('checkbox') {
            display: flex;
            align-items: start;
            margin-top: 20px;
            .el-checkbox__inner {
                margin-top: 2px;
            }
            .el-checkbox__label {
                color: #6E7C94;
                font-weight: normal;
                white-space: normal;
            }
        }
    }
}