$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import '~element-ui/packages/theme-chalk/src/base';

@include block('userInfo',$bem-namespace-widget) {
    @include element('content'){
        padding: 0 20px;
        @include element('item'){
            display: flex;
            align-items: center;
            height: 38px;
            line-height: 38px;
            color: $sdxw-userInfoDialog-text-color;
            @include modifier('title') {
                display: block;
                width: 70px;
            }
            @include modifier('data') {
                font-weight: bold;
            }
            @include modifier('group') {
                span{
                    display: inline-block;
                    margin-right: 10px;
                    background: $sdxw-userInfoDialog-text-bg-color;
                    border-radius: 14px;
                    padding: 0px 10px;
                    text-align: center;
                    line-height: 28px;
                }
            }
        }
    }
}

