$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import '~element-ui/packages/theme-chalk/src/base';

@include block('userinfo',$bem-namespace-widget) {
    @include element('dashboard'){
        @include modifier('title'){
            display: flex;
            flex-direction: column;
            align-items: center;
            .icon{
                width:$sdxw-userInfoDialog-avatar-width;
                height: $sdxw-userInfoDialog-avatar-width;
                margin-top: -45px;
            }
            span{
                margin-top: 18px;
                color: $sdxw-userInfoDialog-title-color;
            }
        }
    }
    @include element('label-group') {
        line-height: 1;
        transform: translate(-6px,-2px) !important;
    }

    @include element('full-name-span') {
        display: block;
        height: 36px;
    }

    @include element('content') {
        padding-top: 10px;
        .el-form-item {
            margin-bottom: 16px;
        }
        .el-form-item:nth-child(3) {
            margin-bottom: 4px;
        }
    }
}
