$sdx-userpicker-item-padding: 0 15px 0 20px !default;

@include block('user-picker', $bem-namespace-widget) {
    width: 100%;
    & /deep/ .el-autocomplete-suggestion li {
        padding: $sdx-userpicker-item-padding;
    }
    @include element('user-tpl') {
        width: 100%;
        height: $sdx-form-element-height-regular;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include element('name') {
            font-size: $sdx-content-font-size;
            color: $sdx-text-regular-color;
        }
        @include element('type') {
            opacity: 0.42;
            color: $sdx-primary-color;
        }
    }
}
