@include block('create-service', $bem-namespace-view) {
    @include element('advanced') {
        .sdxu-article-panel__content {
            padding: 24px 0;
        }
    }
    & /deep/ {
        .el-form-item__content {
            position: relative;
            .icon {
                color: #F56C6C;
                position: absolute;
                top: 0;
                left: -84px;
            }
        }
    }
}
