@include block('model-list-table', $bem-namespace-widget) {
    @include element('container') {
        display: flex;
        margin-top: 20px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        @include modifier('element') {
            flex: 50%;
            max-width: calc(50% - 10px);
            margin-bottom: 20px !important;
        }
        @include modifier('type') {
            display: flex;
            align-items: center;
            margin-bottom: 24px;
            .icon {
                width: 1.1em;
                height: 1.1em;
                vertical-align: -0.15em;
                fill: currentColor;
                overflow: hidden;
             }
        }
    }
    @include element('footer') {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px 0;
    }
}
