@include block('dev-platform', $bem-namespace-view) {
    @include element('title') {
        font-size: 24px;
        color: #13264D;
        margin-bottom: 20px;
    }
    @include element('create-task') {
        display: flex;
        align-items: center;
    }
    @include element('search-filter') {
        margin: 24px 0 0 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include modifier('search') {
            display: flex;
        }
        @include modifier('sort') {
            display: flex;
        }
        .sdx-icon {
            font-size: 14px;
        }
        .sdxw-search-item,
        .sdxw-search-layout__btn {
            margin-bottom: 0;
        }
    }
}
