$--font-path: '~element-ui/lib/theme-chalk/fonts';

@include block('task-detail', $bem-namespace-view) {
    font-size: 14px;
    .sdxu-content-panel + .sdxu-content-panel {
        margin-top: $sdx-margin;
    }

    @include element('external') {
        color: #4781F8;
        margin-right: 20px;
        cursor: pointer;
        &:last-child {
            margin-right: 0;
        }
    }
}

@include block('base-info-container', $bem-namespace-view) {
    @include element('panel') {
        margin: 20px 0 0 10px;
    }
    @include element('link') {
        font-size: 14px;
        margin: 1px 0;
        @include modifier('http') {
            color: #1144AB;
            &:hover {
                cursor: pointer;
                text-decoration-line: underline;
            }
        }
    }
    @include element('list') {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: flex-start;

        & > div:nth-child(1) {
            width: 12px;
            text-align: right;
            margin-right: 10px;
        }

    }
}

@include block('info-container', $bem-namespace-view) {
    padding: 1px 0; // 这里设置的上下padding为1px是为了限制子元素的margin超出范围

    @include element('box') {
        display: flex;
        flex-flow: row wrap;
        margin: -9px 0px; // 这里多设置的-1px是为了将父元素设置的padding为1px抵消
    }
    @include element('item') {
        margin: 8px 0px;
    }

    @include state('background') {
        background-color: #F2F6FC;
    }

    & + .sdxv-info-container {
        margin-top: 16px;
    }

    .sdxv-info-container__item.is-lang-en {
        .sdxv-info-item__label {
            width: 160px;
        }
    }
}

@include block('info-item', $bem-namespace-view) {
    width: 50%;
    min-height: 20px;
    min-width: 350px;
    // padding: 0 $sdx-padding;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    display: flex;
    align-items: flex-start;

    @include element('label') {
        flex: none;
        width: 70px;
        height: 20px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        word-break: break-all;
        color: #6B778C;
    }

    @include element('value') {
        word-break: break-all;
        flex: auto;
        display: flex;
        align-items: center;
        color: #13264D;
        min-height: 20px;
        line-height: 20px;
        .sdxw-fold-label {
            padding: 0;
            text-align: left;
            display: flex;
            align-items: center;
        }
    }

    @include state('strip') {
        div:nth-child(2) {
            height: 40px;
        }
    }

    @include state('multi-line') {
        @include element('label') {
            height: 40px;
        }
        @include element('value') {
            height: auto;
        }
    }

    @include state('whole-line') {
        width: 100%;
    }
}

@include block('log-view', $bem-namespace-view) {

    @include element('content') {
        padding: 0 $sdx-padding;
    }

    @include element('bar') {
        display: flex;
        justify-content: space-between;
        margin: 24px 0;

        @include modifier('select') {
            font-size: 14px;
            span:nth-child(1) {
                color: #6B778C;
            }
            span:nth-child(2) {
                color: #13264D;
            }
            .el-select {
                width: 348px;
            }
        }

        @include modifier('method') {
            border-radius: 2px;
        }
    }
}

@include block('saveas-dialog', $bem-namespace-view) {

    @include element('name') {
        display: flex;

        @include modifier('prefix') {
            flex: none;
            margin-right: 10px;
        }

        @include modifier('input') {
            flex: auto;
        }
    }
}

@include block('log-info', $bem-namespace-view) {
    border-radius: 2px;

    @include element('switch') {
        height: 64px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 24px;

        @include modifier('item') {
            display: flex;
            align-items: center;
            margin-right: 32px;
            &:last-child {
                margin-right: 0;
            }
        }
    }

    @include state('dark') {
        background-color: #6B778C;
        @include element('switch') {
            @include modifier('item') {
                color: #fff;
                .el-switch__core {
                    border-color: #fff !important;
                }
            }
        }
    }
}

@include block('data-info', $bem-namespace-view) {

    @include element('container') {
        margin:(-8px) (-$sdx-margin);
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;

        @include modifier('item') {
            margin: 8px $sdx-margin;
        }
    }
}

@include block('data-datasource', $bem-namespace-view) {
    width: 280px;
    border-radius: 2px;
    border: 1px solid #D8DEEA;

    @include element('name') {
        background: #EDEFF2;
        text-align: center;
        height: 40px;
        line-height: 40px;
        font-weight: 500;
    }

    @include element('info') {
        padding: $sdx-padding;
        background-color: rgba(#F2F6FC, 0.4);

        @include modifier('item') {
            &:last-child {
                margin-top: 8px;
            }
            span:first-child {
                font-size: 14px;
                color: #6B778C;
            }
            span:last-child {
                color: #13264D;
                margin-left: $sdx-margin;
            }
        }
    }
}

@include block('data-dataset', $bem-namespace-view) {
    background-color: #EDEFF2;
    width: 280px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1144AB;
}

@include block('monitor-info', $bem-namespace-view) {

    @include element('content') {
        padding: 0 $sdx-padding;
    }

    @include element('select') {
        font-size: 14px;
        span:nth-child(1) {
            color: #6B778C;
        }
        span:nth-child(2) {
            color: #13264D;
        }
        .el-select {
            width: 348px;
        }
    }

    @include element('chart') {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 20px;

        @include modifier('item') {
            flex-grow: 1;
            height: 400px;
            width: 35%;
            margin-bottom: 32px;
        }
    }
}

@include block('task-detail-view', $bem-namespace-view) {
    @include element('name') {
        font-family: PingFangSC-Medium;
        font-size: 24px;
        color: #13264D;
        letter-spacing: 0;
    }
    @include element('info') {
        margin: 16px 0 24px;
    }
}

@include block('task-info', $bem-namespace-view) {
    background: #FFF;
    box-shadow: 0 2px 4px 0 #C2CDDE;
    border-radius: 2px;
    padding: 32px 24px 0 24px;

    @include element('first') {
        padding-bottom: 24px;
        display: flex;
        border-bottom: 1px solid #D8DEEA;

        @include modifier('icon') {
            margin-right: 32px;
        }

        @include modifier('desc') {
            div:nth-child(1) {
                height: 28px;
                font-family: PingFangSC-Medium;
                font-size: 20px;
                color: #13264D;
                letter-spacing: 0;
            }
            div:nth-child(2) {
                font-family: PingFangSC-Regular;
                font-size: 14px;
                color: #6B778C;
                text-align: justify;
                line-height: 22px;
            }
        }
    }

    @include element('icon') {
        width: 64px;
        height: 64px;
        border-radius: 32px;
        display: flex;
        justify-content: center;
        align-items: center;

        .sdx-icon {
            color: #fff;
            font-size: 32px;
        }
    }

    @include element('second') {
        height: 62px;
        margin-left: 104px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    @include element('label') {
        font-family: PingFangSC-Regular;
        font-size: 14px;
        color: #6B778C;
    }

    @include element('value') {
        ont-family: PingFangSC-Regular;
        font-size: 14px;
        color: #13264D;
    }
}

@include block('task-detail', $bem-namespace-view) {
    background: #FFF;
    box-shadow: 0 2px 4px 0 #C2CDDE;
    border-radius: 2px;
    padding: 16px 24px 24px 24px;
    position: relative;

    .el-tabs__item {
        font-family: PingFangSC-Regular;
        font-size: 18px;
        color: #6B778C;

        &.is-active {
            font-family: PingFangSC-Medium;
            color: #1144AB;
        }
    }
    .el-tabs__nav-wrap::after {
        background-color: #D8DEEA; 
    }
    .el-tabs__active-bar {
        background-color: #1144AB;
    }

    @include element('tensorboard') {
        position: absolute;
        right: 24px;
        top: 20px;
    }
}
