$--font-path: '~element-ui/lib/theme-chalk/fonts';

@include block('user-group', $bem-namespace-view) {
    display: flex;
    flex-flow: column nowrap;

    @include element('bar') {
        margin-bottom: $sdx-margin;
        display: flex;
        justify-content: space-between;
        @include modifier('input') {
            width: 224px;
        }
    }

    @include element('table') {

        @include modifier('expand') {
            display: flex;
            align-items: flex-start;
            & /deep/ .sdxw-fold-label-group--list {
                transform: translate(-6px, -10px);
            }
        }

        @include modifier('expand-label') {
            width: 36px;
            margin-right: 20px;
            line-height: 24px;
        }
    }

    @include element('pagination') {
        align-self: flex-end;
        margin-top: $sdx-margin;
    }
}

.sdxw-fold-label {
    span {
        word-break: keep-all;
    }
}
