.idea/
node_modules/
*.log
.DS_Store
*.zip
dist/
packages/ui/lib/
packages/view/lib/
packages/utils/lib/
packages/utils/gateway/
packages/widget/lib/
packages/ui/coverage/
packages/view/coverage/
packages/utils/coverage/
packages/widget/coverage/
docs/.DS_Store
docs/baseComponents/.DS_Store
nohup.out
