@include block('image-list', $bem-namespace-view) {
    @include element('table') {
        margin: 20px 0;
    }
    @include element('footer') {
        display: flex;
        justify-content: space-between;
    }
}
