$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import '~element-ui/packages/theme-chalk/src/base';
@import '~element-ui/packages/theme-chalk/src/menu';
@import '~element-ui/packages/theme-chalk/src/menu-item';
@import '~element-ui/packages/theme-chalk/src/select';
@import '~@sdx/ui/theme/base';
@import '~@sdx/ui/theme/dialog';
@import '~@sdx/ui/theme/table';
@import '~@sdx/ui/theme/pagination';
@import '~@sdx/ui/theme/button';
@import '~@sdx/ui/theme/content-panel';
@import '~@sdx/ui/theme/tab-radio';
@import '~@sdx/ui/theme/input';
@import '~@sdx/ui/theme/transfer';
@import '~@sdx/ui/theme/message-box.scss';
@import '~@sdx/widget/theme/base';
@import '~@sdx/widget/theme/search-layout.scss';
@import '~@sdx/widget/theme/share-setting.scss';
@import './image-list-table.scss';
@import './image-build-basic.scss';
@import './modified-package-list.scss';
@import './package-list.scss';
@import './image-file-build.scss';
@import './image-task-list.scss';
@include block('image-management', $bem-namespace-view) {
    @include element('header') {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    @include element('nav-menu') {
        margin-bottom: 10px;
    }
    @include element('filter') {
        display: flex;
        margin-bottom: 10px;
    }
    @include element('footer') {

    }
}
