@import '~@sdx/ui/theme/icon-button';

@include block('model-list', $bem-namespace-view) {
    @include element('content') {
        min-height: calc(100vh - 400px);
    }
    @include element('footer') {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }
}
