.sdx-icon {
  font-family: "sdx-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sdx-xitongruanjian:before {
  content: "\e6e6";
}

.sdx-jichuruanjianpingtai:before {
  content: "\e6e9";
}

.sdx-xinpianchanpin:before {
  content: "\e6ea";
}

.sdx-yitiji:before {
  content: "\e6eb";
}

.sdx-icon-arrow-down:before {
  content: "\e6cf";
}

.sdx-icon-arrow-up:before {
  content: "\e6d0";
}

.sdx-icon-arrow-left:before {
  content: "\e6d1";
}

.sdx-icon-caret-bottom:before {
  content: "\e6d2";
}

.sdx-icon-arrow-right:before {
  content: "\e6d3";
}

.sdx-icon-back:before {
  content: "\e6d4";
}

.sdx-icon-caret:before {
  content: "\e6d5";
}

.sdx-icon-caret-right:before {
  content: "\e6d6";
}

.sdx-icon-caret-top:before {
  content: "\e6d7";
}

.sdx-icon-circle-plus:before {
  content: "\e6d8";
}

.sdx-icon--download:before {
  content: "\e6d9";
}

.sdx-icon-caret-left:before {
  content: "\e6da";
}

.sdx-icon-check:before {
  content: "\e6db";
}

.sdx-icon-circle-outline:before {
  content: "\e6dc";
}

.sdx-icon-close:before {
  content: "\e6dd";
}

.sdx-icon-date:before {
  content: "\e6de";
}

.sdx-icon-delete:before {
  content: "\e6df";
}

.sdx-icon-icon-location:before {
  content: "\e6e0";
}

.sdx-icon-error:before {
  content: "\e6e1";
}

.sdx-icon-location-outline:before {
  content: "\e6e2";
}

.sdx-icon-icon-time:before {
  content: "\e6e3";
}

.sdx-icon-edit:before {
  content: "\e6e4";
}

.sdx-icon-message:before {
  content: "\e6e5";
}

.sdx-icon-info:before {
  content: "\e6e7";
}

.sdx-icon-more:before {
  content: "\e6e8";
}

.sdx-icon-minus:before {
  content: "\e6ec";
}

.sdx-icon-outline:before {
  content: "\e6ed";
}

.sdx-icon-remove-outline:before {
  content: "\e6ee";
}

.sdx-icon-remove:before {
  content: "\e6ef";
}

.sdx-icon-plus:before {
  content: "\e6f0";
}

.sdx-icon-star-off:before {
  content: "\e6f1";
}

.sdx-icon-question:before {
  content: "\e6f2";
}

.sdx-icon-search:before {
  content: "\e6f3";
}

.sdx-icon-zoom-in:before {
  content: "\e6f4";
}

.sdx-icon-tickets:before {
  content: "\e6f5";
}

.sdx-icon-success:before {
  content: "\e6f6";
}

.sdx-icon-star-on:before {
  content: "\e6f7";
}

.sdx-icon-upload:before {
  content: "\e6f8";
}

.sdx-icon-warning:before {
  content: "\e6f9";
}

.sdx-icon-zoom-out:before {
  content: "\e6fa";
}

.sdx-icon-picture-outline:before {
  content: "\e6fb";
}

.sdx-icon-picture:before {
  content: "\e6fc";
}

.sdx-icon-eye-open:before {
  content: "\e72f";
}

.sdx-icon-eye-close:before {
  content: "\e731";
}

.sdx-icon-password:before {
  content: "\e732";
}

.sdx-icon-jiantou:before {
  content: "\e733";
}

.sdx-icon-detail:before {
  content: "\e736";
}

.sdx-icon-time:before {
  content: "\e743";
}

.sdx-icon-user:before {
  content: "\e746";
}

.sdx-icon-zijian1:before {
  content: "\e749";
}

.sdx-icon-xiezuo1:before {
  content: "\e74a";
}

.sdx-icon-muban1:before {
  content: "\e74b";
}

.sdx-icon-UserInfo:before {
  content: "\e74c";
}

.sdx-icon-loading:before {
  content: "\e74e";
}

.sdx-icon-gantanhao:before {
  content: "\e74f";
}

.sdx-icon-zu2:before {
  content: "\e751";
}

.sdx-icon-quanxianguanli:before {
  content: "\e753";
}

.sdx-cpu-dashboard:before {
  content: "\e760";
}

.sdx-icon-GPU-dashboard:before {
  content: "\e762";
}

.sdx-shengji:before {
  content: "\e6fd";
}

.sdx-chakanrizhi:before {
  content: "\e704";
}

.sdx-quxiao:before {
  content: "\e6fe";
}

.sdx-kaobei:before {
  content: "\e6ff";
}

.sdx-baobijiao:before {
  content: "\e707";
}

.sdx-fenxiang:before {
  content: "\e700";
}

.sdx-quxiaofenxiang:before {
  content: "\e709";
}

.sdx-gongxiangwenjianjia:before {
  content: "\e70a";
}

.sdx-wenjianjia:before {
  content: "\e70b";
}

.sdx-yigongxiangwenjianjia:before {
  content: "\e70c";
}

.sdx-yasuowenjian:before {
  content: "\e70d";
}

.sdx-CSV:before {
  content: "\e70e";
}

.sdx-DOC:before {
  content: "\e70f";
}

.sdx-PNG:before {
  content: "\e710";
}

.sdx-icon-yunxing:before {
  content: "\e76f";
}

.sdx-icon-yanjing:before {
  content: "\e771";
}

.sdx-icon-shengluehao:before {
  content: "\e770";
}

.sdx-icon-eye-close1:before {
  content: "\e772";
}

