.sdx-icon {
  font-family: "sdx-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sdx-xitongruanjian:before {
  content: "\e6e6";
}

.sdx-jichuruanjianpingtai:before {
  content: "\e6e9";
}

.sdx-xinpianchanpin:before {
  content: "\e6ea";
}

.sdx-yitiji:before {
  content: "\e6eb";
}

.sdx-icon-arrow-down:before {
  content: "\e6cf";
}

.sdx-icon-arrow-up:before {
  content: "\e6d0";
}

.sdx-icon-arrow-left:before {
  content: "\e6d1";
}

.sdx-icon-caret-bottom:before {
  content: "\e6d2";
}

.sdx-icon-arrow-right:before {
  content: "\e6d3";
}

.sdx-icon-back:before {
  content: "\e6d4";
}

.sdx-icon-caret:before {
  content: "\e6d5";
}

.sdx-icon-caret-right:before {
  content: "\e6d6";
}

.sdx-icon-caret-top:before {
  content: "\e6d7";
}

.sdx-icon-circle-plus:before {
  content: "\e6d8";
}

.sdx-icon--download:before {
  content: "\e6d9";
}

.sdx-icon-caret-left:before {
  content: "\e6da";
}

.sdx-icon-check:before {
  content: "\e6db";
}

.sdx-icon-circle-outline:before {
  content: "\e6dc";
}

.sdx-icon-close:before {
  content: "\e6dd";
}

.sdx-icon-date:before {
  content: "\e6de";
}

.sdx-icon-delete:before {
  content: "\e6df";
}

.sdx-icon-icon-location:before {
  content: "\e6e0";
}

.sdx-icon-error:before {
  content: "\e6e1";
}

.sdx-icon-location-outline:before {
  content: "\e6e2";
}

.sdx-icon-icon-time:before {
  content: "\e6e3";
}

.sdx-icon-edit:before {
  content: "\e6e4";
}

.sdx-icon-message:before {
  content: "\e6e5";
}

.sdx-icon-info:before {
  content: "\e6e7";
}

.sdx-icon-more:before {
  content: "\e6e8";
}

.sdx-icon-minus:before {
  content: "\e6ec";
}

.sdx-icon-outline:before {
  content: "\e6ed";
}

.sdx-icon-remove-outline:before {
  content: "\e6ee";
}

.sdx-icon-remove:before {
  content: "\e6ef";
}

.sdx-icon-plus:before {
  content: "\e6f0";
}

.sdx-icon-star-off:before {
  content: "\e6f1";
}

.sdx-icon-question:before {
  content: "\e6f2";
}

.sdx-icon-search:before {
  content: "\e6f3";
}

.sdx-icon-zoom-in:before {
  content: "\e6f4";
}

.sdx-icon-tickets:before {
  content: "\e6f5";
}

.sdx-icon-success:before {
  content: "\e6f6";
}

.sdx-icon-star-on:before {
  content: "\e6f7";
}

.sdx-icon-upload:before {
  content: "\e6f8";
}

.sdx-icon-warning:before {
  content: "\e6f9";
}

.sdx-icon-zoom-out:before {
  content: "\e6fa";
}

.sdx-icon-picture-outline:before {
  content: "\e6fb";
}

.sdx-icon-picture:before {
  content: "\e6fc";
}

.sdx-icon-eye-open:before {
  content: "\e72f";
}

.sdx-icon-eye-close:before {
  content: "\e731";
}

.sdx-icon-password:before {
  content: "\e732";
}

.sdx-icon-jiantou:before {
  content: "\e733";
}

.sdx-icon-detail:before {
  content: "\e736";
}

.sdx-icon-time:before {
  content: "\e743";
}

.sdx-icon-user:before {
  content: "\e746";
}

.sdx-icon-zijian1:before {
  content: "\e749";
}

.sdx-icon-xiezuo1:before {
  content: "\e74a";
}

.sdx-icon-muban1:before {
  content: "\e74b";
}

.sdx-icon-UserInfo:before {
  content: "\e74c";
}

.sdx-icon-loading:before {
  content: "\e74e";
}

.sdx-icon-gantanhao:before {
  content: "\e74f";
}

.sdx-icon-zu2:before {
  content: "\e751";
}

.sdx-icon-quanxianguanli:before {
  content: "\e753";
}

.sdx-cpu-dashboard:before {
  content: "\e760";
}

.sdx-icon-GPU-dashboard:before {
  content: "\e762";
}

.sdx-icon-docker:before {
  content: "\e765";
}

.sdx-icon-tensorflow:before {
  content: "\e766";
}

.sdx-icon-tensorboard:before {
  content: "\e767";
}

.sdx-icon-python:before {
  content: "\e76a";
}

.sdx-shengji:before {
  content: "\e6fd";
}

.sdx-chakanrizhi:before {
  content: "\e704";
}

.sdx-quxiao:before {
  content: "\e6fe";
}

.sdx-kaobei:before {
  content: "\e6ff";
}

.sdx-baobijiao:before {
  content: "\e707";
}

.sdx-fenxiang:before {
  content: "\e700";
}

.sdx-quxiaofenxiang:before {
  content: "\e709";
}

.sdx-gongxiangwenjianjia:before {
  content: "\e70a";
}

.sdx-wenjianjia:before {
  content: "\e70b";
}

.sdx-yigongxiangwenjianjia:before {
  content: "\e70c";
}

.sdx-yasuowenjian:before {
  content: "\e70d";
}

.sdx-CSV:before {
  content: "\e70e";
}

.sdx-DOC:before {
  content: "\e70f";
}

.sdx-PNG:before {
  content: "\e710";
}

.sdx-icon-yunxing:before {
  content: "\e76f";
}

.sdx-icon-yanjing:before {
  content: "\e771";
}

.sdx-icon-shengluehao:before {
  content: "\e770";
}

.sdx-icon-eye-close1:before {
  content: "\e772";
}

.sdx-paixu:before {
  content: "\e773";
}

.sdx-morenwenjian:before {
  content: "\e775";
}

.sdx-tingzhi:before {
  content: "\e776";
}

.sdx-Jupter:before {
  content: "\e777";
}

.sdx-Apache_Spark_logo:before {
  content: "\e778";
}

.sdx-wushuju:before {
  content: "\e774";
}

.sdx-icon-test:before {
  content: "\e779";
}

.sdx-wuwangluo:before {
  content: "\e77a";
}

.sdx-wusousuojieguo:before {
  content: "\e77b";
}

.sdx-yifenxiangwenjian:before {
  content: "\e701";
}

.sdx-huabu:before {
  content: "\e702";
}

.sdx-ceshi:before {
  content: "\e77c";
}

.sdx-xiaxian:before {
  content: "\e77d";
}

.sdx-fabu:before {
  content: "\e77e";
}

.sdx-Paixu:before {
  content: "\e77f";
}

.sdx-Paixu1:before {
  content: "\e780";
}

.sdx-shouce:before {
  content: "\e7c7";
}

.sdx-baocun:before {
  content: "\e65a";
}

.sdx-bianzu:before {
  content: "\e65b";
}

.sdx-bianjizhong:before {
  content: "\e65c";
}

.sdx-bianzu1:before {
  content: "\e65d";
}

.sdx-bianzu2:before {
  content: "\e65e";
}

.sdx-bianzu3:before {
  content: "\e65f";
}

.sdx-bianzu4:before {
  content: "\e660";
}

.sdx-bianzu5:before {
  content: "\e661";
}

.sdx-bianzu6:before {
  content: "\e662";
}

.sdx-tiaoshi:before {
  content: "\e663";
}

.sdx-bianzu7:before {
  content: "\e664";
}

.sdx-bianzu8:before {
  content: "\e665";
}

.sdx-daoxupailie:before {
  content: "\e668";
}

.sdx-guanbibiaoqian:before {
  content: "\e669";
}

.sdx-qingchuyunhangxiaoguo:before {
  content: "\e66a";
}

.sdx-qingchu:before {
  content: "\e66b";
}

.sdx-chongzi:before {
  content: "\e66c";
}

.sdx-mianbaoxieshouye:before {
  content: "\e66d";
}

.sdx-quanbuyunhang:before {
  content: "\e66e";
}

.sdx-shenzhan:before {
  content: "\e66f";
}

.sdx-fuzhidaima:before {
  content: "\e670";
}

.sdx-shujujiguanlidianji:before {
  content: "\e671";
}

.sdx-shujuji:before {
  content: "\e672";
}

.sdx-tingzhi1:before {
  content: "\e673";
}

.sdx-shujujiguanlimoren:before {
  content: "\e675";
}

.sdx-tianjiawenjian:before {
  content: "\e676";
}

.sdx-shangchuanwenjian:before {
  content: "\e67a";
}

.sdx-wenjianguanlidianji:before {
  content: "\e67b";
}

.sdx-jianqiedaima:before {
  content: "\e67c";
}

.sdx-sousuo:before {
  content: "\e67d";
}

.sdx-xinzengbiaoqian:before {
  content: "\e67e";
}

.sdx-zhengxupailie:before {
  content: "\e67f";
}

.sdx-wenjianjia1:before {
  content: "\e680";
}

.sdx-yiyunhang:before {
  content: "\e681";
}

.sdx-yunhang:before {
  content: "\e682";
}

.sdx-quyunhang:before {
  content: "\e683";
}

.sdx-abb_savecopy:before {
  content: "\e684";
}

.sdx-shanchu:before {
  content: "\e685";
}

.sdx-abb_savecopy1:before {
  content: "\e686";
}

.sdx-tuozhan:before {
  content: "\e687";
}

.sdx-abb_savecopy2:before {
  content: "\e688";
}

.sdx-zhuanhuandaima:before {
  content: "\e689";
}

.sdx-CombinedShape:before {
  content: "\e68a";
}

.sdx-Kernelyilianjie:before {
  content: "\e68b";
}

.sdx-xialaxuanxiang:before {
  content: "\e68c";
}

.sdx-wenjianguanlimoren:before {
  content: "\e68d";
}

.sdx-Rectanglee:before {
  content: "\e690";
}

.sdx-Logozhanwei:before {
  content: "\e693";
}

.sdx-mt:before {
  content: "\e694";
}

.sdx-Rectangle:before {
  content: "\e695";
}

.sdx-terminalsmoren:before {
  content: "\e696";
}

.sdx-terminalsbiaoqian:before {
  content: "\e697";
}

.sdx-terminalsdianji:before {
  content: "\e698";
}

.sdx-Kernelweilianjie:before {
  content: "\e699";
}

.sdx-bianyuanduan-b:before {
  content: "\e7c8";
}

.sdx-bianyuanduan-a:before {
  content: "\e7c9";
}

.sdx-moxingxiafa:before {
  content: "\e7ca";
}

.sdx-xiangxiayidong:before {
  content: "\e68e";
}

.sdx-kaobeidaima:before {
  content: "\e68f";
}

.sdx-RectangleCopy:before {
  content: "\e691";
}

.sdx-RectangleCopy1:before {
  content: "\e692";
}

.sdx-RectangleCopy2:before {
  content: "\e69a";
}

.sdx-RectangleCopy3:before {
  content: "\e69b";
}

.sdx-xiangshangyidong:before {
  content: "\e69c";
}

.sdx-danchuangjinggao:before {
  content: "\e69d";
}

.sdx-skyIDElogo:before {
  content: "\e69e";
}

.sdx-terminals-moren:before {
  content: "\e69f";
}

.sdx-terminals-xuanzhong:before {
  content: "\e6a0";
}

.sdx-qidongkernel:before {
  content: "\e6ab";
}

.sdx-Debugbiaoqian:before {
  content: "\e703";
}

.sdx-guanbibiaoqian-dangqian:before {
  content: "\e6a1";
}

.sdx-tingzhikernel:before {
  content: "\e6a2";
}

