@include block('create-project', $bem-namespace-view) {
    @include element('wrap') {
        height: 50vh;
        .el-scrollbar__wrap {
            height: 50vh;
            .el-scrollbar__view {
                margin: 0 10px;
            }
        }
    }
    @include element('filter') {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 10px 10px 0;
    }
}
