$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import '~element-ui/packages/theme-chalk/src/base';
@import '~element-ui/packages/theme-chalk/src/message';
@import '~element-ui/packages/theme-chalk/src/select';
@import '~@sdx/ui/theme/base';
@import '~@sdx/ui/theme/dialog';
@import '~@sdx/ui/theme/pagination';
@import '~@sdx/ui/theme/button';
@import '~@sdx/ui/theme/input';
@import './create-project.scss';

@include block('project-management', $bem-namespace-view) {
    border: 1px solid red;
    height: 80vh;
    padding: 0 20px;
    @include element('header') {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px 0;
        @include modifier('left') {
            color: $sdx-text-regular-color;
            font-size: 16px;
            font-weight: 600;
        }
        @include modifier('right') {
            display: flex;
        }
    }
    @include element('footer') {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px 0;
    }
}
