$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import '~element-ui/packages/theme-chalk/src/base';
@import '~element-ui/packages/theme-chalk/src/message';
@import '~element-ui/packages/theme-chalk/src/select';
@import '~element-ui/packages/theme-chalk/src/switch';
@import '~element-ui/packages/theme-chalk/src/scrollbar';
@import '~@sdx/ui/theme/base';
@import '~@sdx/ui/theme/dialog';
@import '~@sdx/ui/theme/pagination';
@import '~@sdx/ui/theme/button';
@import '~@sdx/ui/theme/content-panel';
@import '~@sdx/ui/theme/tab-radio';
@import '~@sdx/ui/theme/icon-button';
@import '~@sdx/ui/theme/sort-button';
@import '~@sdx/ui/theme/input';
@import '~@sdx/ui/theme/transfer';
@import '~@sdx/ui/theme/message-box.scss';
@import '~@sdx/widget/theme/base';
@import '~@sdx/widget/theme/projectcard';
@import '~@sdx/widget/theme/fold-label';
@import '~@sdx/widget/theme/select-group-user';
@import './create-project.scss';
@import './project-detail/project-detail.scss';

@include block('project-management', $bem-namespace-view) {
    height: 100%;
    @include element('header') {
        height: 16px;
        font-size: 16px;
        font-weight: 600;
        color: rgba(48, 49, 51, 1);
        line-height: 16px;
        padding-left: 10px;
        border-left: 3px solid #4781F8;
    }
    @include element('tool') {
        margin: 20px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .sdxw-search-layout__btn {
            margin-bottom: 2px;
        }
        .sdxw-search-item {
            margin-bottom: 0;
        }
        .sdxu-button__dropdown.sdxu-button__dropdown--place-right.is-lang-en {
            width: calc(100% + 92px) !important;
        }
    }
    @include element('bottom-panel') {
        min-height: calc(100% - 488px);
    }
    @include element('footer') {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px 0;
    }
}
