$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import '~element-ui/packages/theme-chalk/src/base';
@import '~element-ui/packages/theme-chalk/src/message';
@import '~element-ui/packages/theme-chalk/src/select';
@import '~element-ui/packages/theme-chalk/src/switch';
@import '~element-ui/packages/theme-chalk/src/scrollbar';
@import '~@sdx/ui/theme/base';
@import '~@sdx/ui/theme/dialog';
@import '~@sdx/ui/theme/pagination';
@import '~@sdx/ui/theme/button';
@import '~@sdx/ui/theme/content-panel';
@import '~@sdx/ui/theme/tab-radio';
@import '~@sdx/ui/theme/icon-button';
@import '~@sdx/ui/theme/input';
@import '~@sdx/ui/theme/transfer';
@import '~@sdx/ui/theme/message-box.scss';
@import '~@sdx/widget/theme/base';
@import '~@sdx/widget/theme/projectcard';
@import '~@sdx/widget/theme/select-group-user';
@import './create-project.scss';
@import './project-detail/project-detail.scss';

@include block('project-router', $bem-namespace-view) {
    height: 100%;
}
@include block('project-management', $bem-namespace-view) {
    height: 100%;
    @include element('header') {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px 0;
        @include modifier('left') {
            color: $sdx-text-regular-color;
            font-size: 14px;
            font-weight: 400;
            .sdxu-button--primary {
                display: inline-block;
                margin-right: 20px;
            }
            .el-select {
                width: 146px;
            }
        }
    }
    @include element('footer') {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px 0;
    }
}
