// todo: color value
$sdx-primary-color: #4f9de7 !default;
$sdx-warning-color: #f5a134 !default;
$sdx-success-color: #1dd827 !default;
$sdx-danger-color: #df2727 !default;
$sdx-info-color: #cedfdb !default;

// todo: layout
$sdx-padding: 20px;
$sdx-margin: 20px;

// todo: size
$sdx-input-height: 32px;
