// todo: color value
$sdx-primary-color: #4781F8 !default;
$sdx-warning-color: #FF882B !default;
$sdx-success-color: #46D5B1 !default;
$sdx-danger-color: #FF5E5E !default;
$sdx-info-color: #909399 !default;
$sdx-disable-color: #C0CDE6 !default;

$sdx-primary-hover-color: #2D6CEE !default;

$sdx-text-primary-color: #223244 !default;
$sdx-text-regular-color: #606266 !default;
$sdx-text-minor-color: #909399 !default;
$sdx-text-holder-color: #C0C4CB !default;

$sdx-border-color: #CFD3DA !default;

// todo: layout
$sdx-padding: 20px !default;
$sdx-margin: 20px !default;

// todo: size
$sdx-form-element-height-small: 32px !default;
$sdx-form-element-height-regular: 36px !default;
$sdx-border-radius: 2px !default;

// font size
$sdx-h1-font-size: 18px !default;
$sdx-h2-font-size: 16px !default;
$sdx-content-font-size: 14px !default;
$sdx-help-font-size: 12px !default;
