@include block('bubble-tip', $bem-namespace-ui) {
    padding: $sdx-padding;
    background: #4880F8;
    box-shadow: 0 5px 10px 0 #0E162E;
    border-radius: 4px;
    max-width: 320px;
    z-index: 100;
    @include element('main') {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        color: #fff;
        i {
            font-size: 16px;
            color: #fff;
        }
    }
    @include element('content') {
        margin-left: 12px;
        font-size: 14px;
        color: #FFFFFF;
        letter-spacing: 0;
        text-align: justify;
        line-height: 22px;
    }
    @include element('footer') {
        padding-top: 16px;
        display: flex;
        justify-content: flex-end;
        span {
            display: inline-block;
            opacity: 0.2;
            background: #13264D;
            border-radius: 4px;
            color: #fff;
            font-size: 14px;
            width: 97px;
            height: 24px;
            text-align: center;
            line-height: 24px;
        }
    }
}

.sdxu-bubble-fade-enter-active {
    animation: sdxu-bubble-fade-in .3s;
}

.sdxu-bubble-fade-leave-active {
    animation: sdxu-bubble-fade-out .3s;
}

@keyframes sdxu-bubble-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes sdxu-bubble-fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
