// 引入element动画样式库
$--font-path: '~element-ui/lib/theme-chalk/fonts';
@import '~element-ui/packages/theme-chalk/src/base';

@include block('button', $bem-namespace-ui) {
    display: inline-block;
    height: $sdxu-button-height-regular;
    min-width: $sdxu-button-min-width;
    padding: 0 $sdx-gap-small;
    line-height: $sdxu-button-height-regular;
    border-radius: $sdx-border-radius;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
    font-size: 0;
    outline: none;
    @include element('main') {
        font-size: 14px;
    }
    @include modifier('regular') {
        height: $sdxu-button-height-regular;
        line-height: $sdxu-button-height-regular;
        @include state('icon') {
            width: $sdxu-button-height-regular;
            height: $sdxu-button-height-regular;
            min-width: $sdxu-button-height-regular;
            padding: 0;
            @include element('icon') {
                margin-right: 0;
            }
        }
    }
    @include modifier('small') {
        height: $sdxu-button-height-small;
        line-height: $sdxu-button-height-small;
        @include state('icon') {
            width: $sdxu-button-height-small;
            height: $sdxu-button-height-small;
            min-width: $sdxu-button-height-small;
            padding: 0;
            @include element('icon') {
                margin-right: 0;
            }
        }
    }
    @include modifier('primary') {
        background: $sdx-primary-color;
        border: 1px solid $sdx-primary-color;
        color: #fff;
        &:hover {
            background: $sdx-primary-hover-color;
            border: 1px solid $sdx-primary-hover-color;
        }
        &:focus {
            background: $sdx-primary-color--darker;
            border: 1px solid $sdx-outline-color;
        }
        &:active {
            background: $sdx-primary-color--darker;
            border: 1px solid $sdx-primary-color--darker;
        }
        @include state('plain') {
            color: $sdx-primary-color;
            border: none;
            background: transparent;
            &:hover {
                color: $sdx-primary-hover-color;
            }
        }
        @include state('invert') {
            color: $sdx-primary-color;
            border: 1px solid $sdx-primary-color;
            background: #fff;
            &:hover {
                color: #fff;
                border: 1px solid $sdx-primary-color;
                background: $sdx-primary-color;
            }
        }
        @include state('disabled') {
            cursor: not-allowed;
            pointer-events: none;
            //opacity: 0.6;
            background: $sdx-secondary-color--light6;
            color: $sdx-secondary-color--light4;
            border: 1px solid $sdx-secondary-color--light6;
            & .sdx-icon{
                color: $sdx-secondary-color--light6;
            }
        }
        .sdxu-button__icon--dropdown {
            .sdx-icon {
                color: #fff;
            }
        }
    }
    @include modifier('default') {
        background: #fff;
        color: $sdx-text-regular-color;
        border: 1px solid $sdxu-button-default-border-color;
        &:hover {
            color: $sdx-primary-color;
            border: 1px solid $sdx-primary-color;
        }
        &:focus {
            border: 1px solid $sdx-outline-color;
            color: $sdx-outline-color;
        }
        &:active {
            color: $sdx-primary-color--darker;
            border: 1px solid $sdx-primary-color--darker;
        }
        @include state('plain') {
            color: $sdx-text-regular-color;
            border: none;
            background: transparent;
            &:hover {
                color: $sdx-primary-color;
            }
        }
        @include state('disabled') {
            cursor: not-allowed;
            pointer-events: none;
            color: $sdx-primary-color--light4;
        }
    }
    @include modifier('link') {
        background: transparent;
        color: $sdx-primary-color;
        border: none;
        min-width: 0;
        padding: 0;
        &:hover {
            color: $sdx-primary-hover-color;
            border: none;
            text-decoration: underline;
        }
        &:focus {
            text-decoration: none;
        }
        &:active {
            border: none;
            text-decoration: none;
        }
        @include state('disabled') {
            cursor: not-allowed;
            pointer-events: none;
            color: $sdx-secondary-color--light4;
        }
    }
    @include modifier('text') {
        background: transparent;
        color: $sdx-secondary-color--light3;
        border: none;
        min-width: 0;
        padding: 0;
        &:hover {
            color: $sdx-primary-hover-color;
            border: none;
        }
        &:focus {
            text-decoration: none;
        }
        &:active {
            border: none;
            text-decoration: none;
        }
        @include state('disabled') {
            cursor: not-allowed;
            pointer-events: none;
            color: $sdx-secondary-color--light4;
        }
    }
    @include state('loading') {
        cursor: default;
        pointer-events: none;
        opacity: 0.8;
    }
    @include state('shadow') {
        //box-shadow: 1px 1px 10px 1px rgba(87,127,255,0.17);
        border: none;
        &:hover {
            border: none;
        }
        &:after {
            content: '\20';
            left: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 2px;
            z-index: -1;
            background: rgba(87, 127, 255, 0.17);
            filter: blur(2px);
            display: inline-block;
            box-sizing: border-box;
        }
    }
    @include state('block') {
        display: block;
        & + .sdxu-button {
            margin-left: 0;
        }
    }
    @include element('icon') {
        font-size: 14px !important;
        margin-right: $sdx-gap-mini;
        box-sizing: border-box;
        @include modifier('dropdown') {
            font-size: 12px !important;
            margin-left: $sdx-gap-mini;
            box-sizing: border-box;
            display: inline-block;
            transition: transform ease-in-out 0.2s;
            @include state('reverse') {
                transform: rotate(180deg);
            }
            .sdx-icon {
                font-size: 12px !important;
                color: #C8CFD9;
            }
        }
    }
    @include element('dropdown') {
        position: absolute;
        top: calc(100% - 5px);
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
        z-index: 3;
        @include state('hover') {
            padding: 10px !important;
        }
        @include modifier('place-left') {
            left: -10px;
        }
        @include modifier('place-right') {
            right: -10px;
        }
        @include modifier('main') {
            width: 100%;
            height: auto;
            background: #fff;
            z-index: 3;
            //border: 1px solid $sdx-border-color;
            box-sizing: border-box;
            box-shadow: 0 1px 4px 0 rgba(75,91,123,0.50);
            padding: 0 !important;
            & /deep/ .sdxu-button {
                display: block;
                border: none;
                border-radius: 0;
                text-align: left;
                padding: 0;
                margin-left: 0 !important;
                text-indent: $sdx-gap-small;
                &:first-child {
                    border-top: none;
                }
                &:hover {
                    color: $sdx-secondary-color !important;
                    background: $sdx-secondary-color--light7 !important;
                    border: none;
                    .sdxu-button__main {
                        text-decoration: none !important;
                    }
                }
            }
        }
    }
    & + .sdxu-button {
        margin-left: $sdx-gap-regular;
    }
}

@include block('button-group', $bem-namespace-ui) {
    font-size: 0;
    .sdxu-dropdown-tip {
        display: inline-block;
        margin-left: $sdx-gap-regular;
        i {
            outline: none;
            cursor: pointer;
        }
    }
    @include element('popper') {
        min-width: 72px;
        ul,li {
            list-style: none;
            padding: 0;
            margin: 0;
            line-height: 1;
        }
        li {
            height: 32px;
            line-height: 32px;
            text-align: center;
            color: $sdx-secondary-color;
            background: $sdx-secondary-color--light8;
            padding: 0 $sdx-gap-small;
            cursor: pointer;
            &:hover {
                background: $sdx-secondary-color--light7;
            }
        }
    }
}
