@include block('codepan', $bem-namespace-ui) {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: auto;
    .CodeMirror {
        height: 100%;
    }
    @include state('light') {
        .CodeMirror {
            background: $sdx-secondary-color--light7 !important;
        }
        .CodeMirror-gutters {
            background: $sdx-secondary-color--light6 !important;
        }
    }
}
.CodeMirror {
    height: auto;
}
