$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import '~element-ui/packages/theme-chalk/src/base';
@import '~element-ui/packages/theme-chalk/src/dialog';
@import './button.scss';

@include block('dialog') {
    @include modifier('small') {
        .el-dialog {
            width: $sdxu-dialog-small-size-width;
        }
    }
    @include modifier('normal') {
        .el-dialog {
            width: $sdxu-dialog-normal-size-width;
        }
    }
    .el-dialog__headerbtn {
        .el-dialog__close {
            color: $sdx-primary-color;
        }
    }
    .el-dialog__header {
        color: $sdxu-dialog-header-text-color;
        font-size: $sdxu-dialog-header-text-size;
    }
}
