@include block('icon-button', $bem-namespace-ui) {
    position: relative;
    color: $sdx-text-holder-color;
    font-size: $sdx-h2-font-size;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    cursor: pointer;
    .el-loading-mask {
        pointer-events: none;
        .el-loading-spinner {
            margin-top: -$sdx-h2-font-size / 2;
            .circular {
                width: $sdx-h2-font-size;
                height: $sdx-h2-font-size;
            }
        }
    }
    & + .sdxu-icon-button {
        margin-left: $sdx-margin + 10px;
    }
    &[style*='display: none'] + .sdxu-icon-button {
        margin-left: 0;
    }
    @include modifier('small') {
        font-size: $sdx-help-font-size;
    }
    @include modifier('regular') {
        font-size: $sdx-content-font-size;
    }
    @include modifier('large') {
        font-size: $sdx-h2-font-size;
    }
    &:hover {
        color: $sdx-primary-color;
    }
    @include state('active') {
        color: $sdx-primary-color;
    }
    @include state('disable') {
        cursor: not-allowed;
        pointer-events: none;
        opacity: 0.6;
    }
}
