@import "icon-button";

@include block('icon-button-group', $bem-namespace-ui) {
    @include element('popper') {
        &.el-popover {
            min-width:60px;
            height: auto;
            background: rgba(0,0,0,0.6);
            border-radius: $sdx-border-radius;
            padding: 10px 5px;
            color: #fff;
            font-size: $sdx-content-font-size;
            position: relative;
            .popper__arrow {
                left: -7px !important;
                border-right-color: transparent;
                &:after {
                    border-right-color: rgba(0,0,0,0.6) !important;
                }
            }
        }
    }
    @include element('popper-refer') {
        margin-left: $sdx-margin;
    }
    @include element('ellipse') {
        overflow: hidden;
    }
    @include element('ellipse-item') {
        margin-top: 0;
        position: relative;
        cursor: pointer;
        padding: 10px;
        &:hover {
            color: $sdx-primary-color;
            &::before{
                position: absolute;
                content: '';
                z-index: -1;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
                background:rgba(247,249,253,1);
                border-radius: $sdx-border-radius;
            }
        }
    }
}
