@include block('log-detail', $bem-namespace-ui) {
    margin-bottom: $sdx-margin;
    height: 60vh;
    background-color: $sdx-log-background-normal;
    color: $sdx-log-color-normal;
    position: relative;

    @include element('suf-loading') {
        position: absolute;
        width: 100%;
        bottom: 20px;
        left: 0;
        border: 0;
    }
    @include element('pre-loading') {
        position: absolute;
        width: 100%;
        top: 20px;
        left: 0;
        border: 0;
    }

    @include element('container') {

        @include modifier('content') {
            display: block;
            padding: $sdx-padding;
            text-align: left;
            border-radius:2px;
            word-break: break-word;
            white-space: pre-wrap;
            font-size: $sdx-log-font-size;
            line-height: $sdx-log-line-height;
        }
    }

    @include state('dark') {
        background-color: $sdx-log-background-dark;
        color: $sdx-log-color-dark;
    }
}