@include block('tab-radio', $bem-namespace-ui) {
    display: inline-block;
    height: $sdxu-tab-radio-height;
    line-height: $sdxu-tab-radio-height;
    padding: 0 $sdx-tab-radio-padding;
    text-align: center;
    cursor: pointer;
    color: $sdx-secondary-color;
    border-radius: $sdx-border-radius;
    border: none;
    font-size: 14px;
    box-sizing: border-box;
    background: $sdx-secondary-color--light6;
    position: relative;
    @include modifier('small') {
        height: $sdxu-tab-radio-height-small;
        line-height: $sdxu-tab-radio-height-small;
    }
    &:hover {
        background: $sdx-primary-color--light5;
        color: $sdx-primary-color;
    }
    &:active {
        color: $sdx-secondary-color--light8;
        background: $sdx-primary-color--darker;
    }
    @include state('active') {
        color: $sdx-secondary-color--light8;
        background: $sdx-primary-color--darker;
        &:hover {
            background: $sdx-primary-color--darker;
            color: $sdx-secondary-color--light8;
        }
    }
}

@include block('tab-radio-group', $bem-namespace-ui) {
    font-size: 0;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    & /deep/ .sdxu-tab-radio {
        border-right: none;
        &:first-child {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        & + .sdxu-tab-radio {
            border-radius: 0;
            &:before {
                content: '\20';
                display: inline-block;
                width: 1px;
                height: 100%;
                background: $sdx-secondary-color--light8;
                position: absolute;
                left: -1px;
                top: 0;
            }
        }
        &:last-child {
            border-top-right-radius: $sdx-border-radius;
            border-bottom-right-radius: $sdx-border-radius;
        }
    }
}
