@include block('tabs', $bem-namespace-ui) {
    @include modifier('button') {
        .el-tabs__nav-wrap::after {
            display: none;
        }
        .el-tabs__active-bar {
            display: none;
        }
        .el-tabs__item {
            color: #13264D;
            font-weight: 400;
            padding: 0 16px !important;
            text-align: center;
            height: 36px;
            line-height: 36px;
        }
        .el-tabs__item.is-active {
            background: #13264D;
            border-radius: 2px;
            color: #FFFFFF !important;
        }
    }
}