@include block('upload-image', $bem-namespace-ui) {
    display: flex;
    align-items: flex-end;
    justify-items: flex-start;

    @include element('img') {
        width: 200px;
        height: 200px;
        background: $sdx-secondary-color--light7;
        color: $sdx-secondary-color--light3;
        display: flex;
        align-items: center;
        img {
            width: 100%;
            max-height: 100%;
        }
        @include element('placeholder') {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            font-size: 12px;
            line-height: 1.5;
        }
    }
    @include element('upload-trigger') {
        flex: 1;
        padding: 0 $sdx-gap-small;
        text-align: left;
        .el-upload__tip {
            line-height: 2;
        }
    }
}
