$sdxu-button-min-width: 95px !default;
$sdxu-button-padding: $sdx-padding !default;
$sdxu-button-height-regular: $sdx-form-element-height-regular !default;
$sdxu-button-height-small: $sdx-form-element-height-small !default;
$sdxu-button-default-border-color: #E4E7Ed !default;

// 穿梭框
$sdxu-transfer-default-width: 210px !default;
$sdxu-transfer-default-height: 330px !default;
$sdxu-transfer-height-tree: 232px !default;
$sdxu-transfer-width-input: 179px !default;
$sdxu-transfer-margin-small: 16px !default;
$sdxu-transfer-height-moveicon: 36px !default;
$sdxu-transfer-height-tagbox: 260px !default;
$sdxu-transfer-margin-tag: 10px !default;
$sdxu-transfer-background-taguser: #F4F7FD !default;
$sdxu-transfer-background-taggroup: rgba(213,229,255,0.75) !default;