// sdxu-button
$sdxu-button-min-width: 0px !default;
$sdxu-button-padding: $sdx-gap-small !default;
$sdxu-button-height-regular: $sdx-form-element-height-large !default;
$sdxu-button-height-small: $sdx-form-element-height-small !default;
$sdxu-button-default-border-color: $sdx-secondary-color--light6 !default;

// 穿梭框
$sdxu-transfer-width: 100% !default;
$sdxu-transfer-default-width: 210px !default;
$sdxu-transfer-default-height: 330px !default;
$sdxu-transfer-height-tree: 220px !default;
$sdxu-transfer-width-input: 179px !default;
$sdxu-transfer-height-wrap: 238px !default;
$sdxu-transfer-margin-small: 16px !default;
$sdxu-transfer-height-moveicon: 36px !default;
$sdxu-transfer-height-tagbox: 292px !default;
$sdxu-transfer-margin-tag: 10px !default;
$sdxu-transfer-background-taguser: #F4F7FD !default;
$sdxu-transfer-background-taggroup: rgba(213,229,255,0.75) !default;
$sdxu-transfer-background-tree:  #F7F9FD !default;
$sdxu-transfer-background-icon-move: #f2f6fc !default;
$sdxu-transfer-color-icon-move: #C0C4CC !default;
$sdxu-transfer-expand-icon-padding: 4px !default;
// input
$sdxu-input-border-default: 1px solid $sdx-border-color !default;
$sdxu-input-border-color-success: $sdx-success-color !default;
$sdxu-input-border-color-error: $sdx-danger-color !default;
$sdxu-input-border-color-focus: $sdx-primary-color !default;
$sdxu-input-height-small: $sdx-form-element-height-regular !default;
$sdxu-input-height-regular: $sdx-form-element-height-large !default;
$sdxu-input-border-radius: $sdx-border-radius !default;
$sdxu-input-placeholder: $sdx-info-color !default;
$sdxu-input-password-strength-height: 5px !default;
$sdxu-input-strength-color-weak: $sdx-danger-color !default;
$sdxu-input-strength-color-normal: $sdx-warning-color !default;
$sdxu-input-strength-color-strong: $sdx-success-color !default;
$sdxu-input-strength-color-none: $sdx-none-color !default;
$sdxu-icon-hover: $sdx-primary-color !default;
// sdxu-pagination
$sdxu-pagination-active-background-color: $sdx-primary-color !default; // 当前激活pager背景色
$sdxu-pagination-text-color: $sdx-secondary-color !default;   // 非激活pager字体颜色
$sdxu-pagination-background: #fff !default;  // 非激活pager背景
$sdxu-pagination-pager-space: 5px !default;  // pager之间间距
$sdxu-pagination-pager-border: 1px solid $sdx-secondary-color--light6 !default;  // pager边框

// sdxu-dialog
$sdxu-dialog-small-size-width: 460px !default;
$sdxu-dialog-normal-size-width: 600px !default;
$sdxu-dialog-large-size-width: 680px !default;
$sdxu-dialog-header-text-color: #303133 !default;
$sdxu-dialog-header-text-size: 18px !default;


// table 样式
$sdxu-table-head-color: #303133 !default;
$sdxu-table-header-height: 52px !default;
$sdxu-table-td-height: 52px !default;
$sdxu-table-cell-background:  #F7FAFF !default;
$sdxu-table-header-background: #fff !default;
$sdxu-table-header-fontsize: 14px !default;
$sdxu-table-td-fontsize: 14px !default;
$sdxu-table-table-margincolor: #fff !default;
$sdxu-table-border-color: #EBEEF5 !default;
// sdxu-tab-radio
$sdxu-tab-radio-height: $sdx-form-element-height-large !default;
$sdxu-tab-radio-height-small: $sdx-form-element-height-regular !default;
$sdx-tab-radio-padding: $sdx-gap-regular !default;

// message-box
$sdxu-messagebox-width: 600px !default;
$sdxu-messagebox-padding: 74px 20px 20px 40px !default;
$sdxu-status-icon-size: 24px !default;
$sdx-status-icon-margin-right: 15px !default;

// placeholder-block
$sdxu-placehilder-height-regular: 20px !default;
$sdxu-placehilder-height-small: 10px !default;
$sdxu-placehilder-height-large: 40px !default;

// content-panel
$sdx-content-panel-padding: 30px 20px 40px !default;
$sdx-content-panel-bg: #fff !default;
$sdx-content-panel-title-margin-left: 12px !default;
$sdx-content-panel-title-width: 3px !default;
$sdx-content-panel-title-height: 16px !default;
$sdx-content-panel-main-min-height: 50px !default;
$sdx-content-panel-subtitle-margin-left: 10px !default;

// sort-button
$sdx-sort-icon-width: 10px !default;
$sdx-sort-icon-color-normal: #C8CFD9 !default;
$sdx-sort-icon-color-active: #457FF6 !default;

// empty
$sdu-empty-small-size: 100px !default;
$sdu-empty-normal-size: 200px !default;
$sdu-empty-large-size: 300px !default;

// log
$sdx-log-background: #F4F8FD !default;
$sdx-log-font-size: $sdx-content-font-size !default;
$sdx-log-line-height: 26px !default;
