@import '~element-ui/packages/theme-chalk/src/select.scss';

.el-select {
    width: 100%;
    .el-input__inner {
        border-radius: $sdx-border-radius;
        border-color: $sdx-border-color;
        &:focus {
            border-color: $sdx-primary-color--light3;
        }
        &::placeholder {
            color: $sdx-info-color;
        }
    }
    .el-input {
        &.is-focus .el-input__inner {
            border-color: $sdx-primary-color--light3;
        }
    }
}

.el-select-dropdown {
    border-radius: 2px;
    margin-top: 2px;
    @extend .border;
    &.el-popper[x-placement^="top"] {
        margin-bottom: 0;
    }
    &.el-popper[x-placement^="bottom"] {
        margin-top: 0;
    }
    .el-select-dropdown__wrap {
        @extend .shadow;
        .el-select-dropdown__list {
            padding: 4px 0;
            .el-select-dropdown__item {
                color: $sdx-secondary-color;
                padding: 0 $sdx-gap-small;
                height: 32px;
                line-height: 32px;
                &:hover, &.hover, &.selected {
                    background: $sdx-secondary-color--light7;
                }
            }
        }
    }
}
