@import '~element-ui/packages/theme-chalk/src/select.scss';

.el-select {
    width: 100%;
    .el-input__inner {
        border-radius: $sdx-border-radius;
        border-color: $sdx-border-color;
        &:focus {
            border-color: $sdx-primary-color;
        }
        &::placeholder {
            color: $sdx-info-color;
        }
    }
    .el-input {
        &.is-focus .el-input__inner {
            border-color: $sdx-primary-color;
        }
    }
}
