@import './create-task-card.scss';
@include block('project-detail', $bem-namespace-view) {
    @include element('create-task') {
        display: flex;
        align-items: center;
    }
    @include element('search-filter') {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px 0;
        @include modifier('search') {
            display: flex;
        }
        .sdx-icon {
            font-size: 14px;
        }
    }
    @include element('content') {
        min-height: calc(100vh - 560px);
    }
    @include element('footer') {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px 0;
    }
}
