$ilv-primary-color: #fa8373 !default;
$sdxu-mark-icon-color: #4781F8 !default;
$sdxu-mark-icon-width: 3px !default;
$sdxu-mark-icon-height: 18px !default;
$sdxu-mark-icon-padding: 12px !default;

// sdxv rolemanage
$sdxu-role-title-height: 36px !default; 
$sdxu-role-table-background: #fff !default; 
$sdxu-role-table-shadow: rgba(206,213,221,0.27) !default; 
$sdxu-role-margin-size: 14px !default; 
$sdxu-role-padding-top: 10px !default;
$sdxu-role-icon-size: 12px !default;
$sdxu-mark-icon-bottom: 28px !default;

