$ilv-primary-color: #fa8373 !default;

// sdxv rolemanage
$sdxu-role-title-height: 36px !default; 
$sdxu-role-table-background: #fff !default; 
$sdxu-role-table-shadow: rgba(206,213,221,0.27) !default; 
$sdxu-role-margin-size: 14px !default; 
$sdxu-role-padding-top: 10px !default;