@include block('create-workflow', $bem-namespace-view) {
    @include element('filter') {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 10px 10px 0;
        .sdxu-input.sdxu-input--small.is-lang-en {
            width: 248px;
        }
    }
    @include element('template-list') {
        margin: 0;
    }
}
