@include block("general-running", $bem-namespace-view) {
    @include element('table') {
        min-height: calc(100vh - 450px);
    }
    @include element('footer') {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
    }
}
